body {
    font-family: 'Goudy Bookletter 1911', serif;
    margin: 0;
    padding: 0;
    background-color: #f2e9d4; /* Cor de fundo estilo pergaminho */
    background-image: url('background_texture.jpg'); /* Textura de fundo estilo papel envelhecido */
    background-size: cover;
    background-blend-mode: multiply;
}
/* Estilos para a barra de navegação */
nav {
    background-color: #613613; /* Cor de fundo da barra de navegação */
    overflow: hidden;
    text-align: center; /* Centraliza os elementos */
    padding: 10px 0;
}

nav a {
    display: inline-block; /* Permite centralizar */
    color: #f2e9d4; /* Cor do texto dos links */
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    margin: 0 10px; /* Espaçamento entre os links */
    border-radius: 5px; /* Borda arredondada */
}

nav a:hover {
    background-color: #fff; /* Cor de fundo ao passar o mouse */
    color: #613613; /* Cor do texto ao passar o mouse */
}

/* Estilos para a seção da tabela de NPCs */
.section-title {
    text-align: center;
    margin-top: 50px;
}

.npc-table {
    margin: 20px auto;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra */
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #613613;
    color: #f2e9d4;
}

tr:hover {
    background-color: #f2f2f2;
}

/* Estilos para as imagens dos NPCs na tabela */
td img {
    display: block;
    margin: auto;
    max-width: 100px;
    max-height: 100px;
}
